/*
*  Variables
*/
:root {
    --ms-font-awesome-sidebar-size: 1rem;
}


/*
*  Sidebar
*/
#sidebar {
    padding: 1.875rem 1.5rem;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

#sidebar ul a {
    color: #fff;
    text-decoration-line: none;
}

#sidebar ul li:hover {
    background-color: #434343;
}

/*** Icon horizontal align and reset position ***/
#sidebar ul a li i {
    font-size: var(--ms-font-awesome-sidebar-size);
    width: calc(var(--ms-font-awesome-sidebar-size) + .5rem);
    text-align: center;
    margin-left: calc(((var(--ms-font-awesome-sidebar-size) + .5rem) / 2) * -1);
}


/*
*  Media queries
*/
@media screen and (min-width: 1200px) {
    #sidebar {
        max-width: 9.375rem;
    }
}